Source: libstatistics-robust-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl, libtest-number-delta-perl, libmath-random-perl,
  libmath-round-perl, libmath-cdf-perl (>= 0.1)
Maintainer: GMT <gmt@genome.wustl.edu>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Statistics-Robust/

Package: libstatistics-robust-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libtest-number-delta-perl,
  libmath-random-perl, libmath-round-perl, libmath-cdf-perl (>= 0.1)
Description: A Collection of Robust Statistical Methods
 A Collection of Robust Statistical Methods
 .
 This description was automagically extracted from the module by dh-make-perl.
